<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Form Demo</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <main>
      <form method="post" action="/">
        <h1>Contact Form</h1>
        <input type="text" name="name" placeholder="Name" />
        <input type="email" name="email" placeholder="Email" />
        <textarea
          name="message"
          placeholder="Write your Message here"
          rows="4"
        ></textarea>
        <button type="submit">Send Message</button>
      </form>
    </main>
    <script src="" async defer></script>
  </body>
</html>
